body {
  background-color: lightblue;
}

.main {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding-left: 575px;
  padding-top: 200px;
}

button {
  width: 100px;
}

.register {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding-left: 575px;
  padding-top: 100px;
}
